* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-family: 'Abril Fatface', cursive;
  overflow: auto;
}

/* header */

header{
  background-image: url(../img/avadabarbers-homepage-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  position: relative;
}

.header-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}

.header-menu i{
  font-size: 22px;
  color:white;
  padding:15px;
  cursor:pointer
}

.header-menu i:hover{
  color:#be9359;
}

/* sezione jumbotron */

.jumbotron{
  width: 60%;
  margin: auto;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
}

.title-name{
  align-self: center;
  font-family: "Abril Fatface";
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 35px;
  color: white;
  padding-bottom: 50px;
}

.title-name h1{
  font-size: 80px;
}

.title-name h1::after{
  content: '';
  display: table;
  border-bottom: 4px solid #be9359;
  width: 45%;
  padding:4px;
}

.title-name p{
  color:#69625c;
  font-family: Lato;
  font-weight: 600;
  font-size:24px;
  padding:35px 0;
}

.fusion{
  padding: 17px 40px;
  text-align: center;
  border:2px solid #be9359;
  opacity: 1;
  background: transparent
}

.fusion a {
  text-decoration: none;
  color:#be9359;
  text-transform: uppercase;
  font-size: 20px;
}

.fusion:hover{
  opacity: 0.6;
}

/* sezione icon fix */
.icon-fix{
  position: fixed;
  top: 200px;
  color:#33475b;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.demos{
  height: 66px;
  width: 66px;
  background-color:white;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,.15);
}

.buy{
  height: 66px;
  width: 66px;
  background-color:white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,.15);
}

.icon-fix i{
  font-size: 25px;
}

.icon-fix  p{
  font-size:15px
}

/* section pro-barbers */
.pro-barbers{
  background-image: url(../img/avadabarbers-about-introbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  height: 550px;
}

.info-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.info-title p{
  text-transform: uppercase;
  color: #be9359;
  font-size: 1.2rem;
}

.info-title h3{
  font-family: "Abril Fatface";
  text-transform: capitalize;
  color: #b1b1b1;
  font-size: 60px;;
  padding:25px 0;
  
}

/* section services */
.services{
  height:890px;
  position: relative;
}

.servizi{
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  width: 65%;
  margin:auto;
}

.box{
  text-align: center;
  padding:0px 20px;
  white-space: pre-wrap;
}

.box img{
  height: 100px;
}

.box p{
  color: #686868;
  font-size: 18px;
  line-height: 1.8;
  font-family: Lato;
  font-weight: 300;
  text-align: center;
}

.title-gold{
  font-size: 2rem;
  color: #be9359;
  padding: 15px;
}

.inside{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 10%;
  left:50%;
  text-transform: uppercase;
  color:#be9359;
  font-size: 20px;
}

/* sezioni prodotti */

.products{
  height: 1000px;
  background-image: url(../img/avadabarbers-reviewsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  position: relative;
  z-index: -1;
}

.aggiustamento p{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1,4rem;
}

.aggiustamento h3{
  font-size: 80px;
}

.items{
  padding:50px 0px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.format{
  text-align: center;
  padding:0px 20px;
  white-space: pre-wrap;
  color:#be9359;
}

.format h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
}

.format p{
  font-family: 'Lato', sans-serif;
}

.next{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 5%;
  left:50%;
  text-transform: uppercase;
  color:#be9359;
  font-size: 20px;
}

/* sezione barba */
.shaving{
  height:500px;
}

.contenitore{
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.cont-img{
  background-image: url(../img/avadabarbers-cta-background.jpg);
  background-size: cover;
  background-position: left top;
  border-top: 4px solid #be9359;
}

.cont-testo{
  background: #121413;
  border-top: 4px solid #be9359;
  width: 800px;
  padding: 70px;
}

.cont-testo h5{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: normal;
  color:#be9359;
  font-size: 20px;
}

.cont-testo h3{
  font-family: "Abril Fatface";
  text-transform: capitalize;
  color: #b1b1b1;
  font-size: 60px;
}


.cont-testo p{
  color:#69625c;
  font-family: Lato;
  font-size:20px;
  padding:30px 0;
}

.prev{
  text-transform: uppercase;
  color:#be9359;
  font-size: 20px;
}

/* sezione interviste */
.reviews{
  height: 620px;
}

.people{
  text-align: center;
  padding:0 30px;
}

.people p{
  color:#686868;
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-size: 22px;
}

.people img{
  border-radius: 50%;
  object-fit: cover;
  width: 25%;
  padding:20px 0px;
}

.people h3{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color:#be9359;
}

/* sezione posts */
.posts{
  height: 1000px;
  margin-top:200px;
  position: relative;
}


.prova{
  padding: 100px 20px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.reparto img{
  transition:all 1s;
  opacity: 1;
}

.reparto img:hover{
  transform: scale3d(1.1,1.1,1);
  opacity: 0.7;
}

.reparto{
  padding: 0 50px;
}

.titolo{
  font-family: "Abril Fatface";
  text-align: center;
  color:#be9359;
  font-size: 35px;
  padding:20px 0;
}

.paragrafo{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

/* Footer */
